<div class="row">
  <div class="large-6 columns">
    <%= simple_form_for @recipe do |r| %>
      <%= r.input :title %>
      <h2>Ingredients:</h2>
      <%= r.simple_fields_for :ingredients do |i| %>
        <%= i.input :name %>
      <%- end -%>
      <%= r.input :directions, class: "directions" %>
      <%- if current_page?(new_recipe_path) -%>
        <%= r.submit 'Create Recipe' %>
      <%- else -%>
        <%= r.submit 'Save Recipe' %>
      <%- end -%>
    <%- end -%>
  </div>
</div>