<div class="row">
  <div class="large-6 columns">
    <h1>Welcome to the Pantry Party</h1>
<!--     <% @pantry_ingredients.each do |pi| %>
      <%= pi.ingredient.name %>
    <% end %> -->

    <%= simple_form_for @pantry do |p| %>
      <%= p.simple_fields_for :ingredients do |i| %>
        <%= i.input :name %>
      <% end %>
      <%= p.input :id, as: :hidden, input_html: {value: @pantry.id} %>
      <%= p.submit 'Add Ingredient' %>
    <% end %>
  </div>
</div>